.container {
  width: min(100% - 32px, 1024px);
  margin-inline: auto;
}
.main-home {
}
.section--white {
  background-color: var(--white);
}
.subpage-main {
  display: grid;
  place-content: center;
  min-height: 80vh;
}
